@model IEnumerable<DataAccessLayer.Models.Cita>

<div class="container">
    <table class="table table-hover rounded border p-2">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Cédula</th>
                <th>Teléfono</th>
                <th>Fecha</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cita in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => cita.Nombre)</td>
                    <td>@cita.Apellidos</td>
                    <td>@cita.Cedula</td>
                    <td>@cita.Telefono</td>
                    <td>@cita.FechaCita.ToString("dd/MM/yyyy")</td>
                    <td>@cita.NombreEstado</td>
                </tr>
            }
        </tbody>
    </table>
</div>
